#settings {
	text-align: center;
	width: 642.5px;
	margin: 0 auto;
	margin-top: 25.7px;
	border-radius: 5.41px;
	padding: 0 54.1px;
	padding-top: 54.1px;
	background: rgb(39, 7, 115);
	border: 1.285px solid black;
	position: relative;
}

#choosepdp {
	text-align: center;
	padding-top: 25.7px;
	padding-bottom: 25.7px;
	width: 1028px;
	margin: 0 auto;
	margin-top: 50px;
	border-radius: 5.41px;
	background: rgb(39, 7, 115);
	border: 1.285px solid black;
}

.changepp {
	display: inline-block;
}

.imgsett {
	width: 200px;
	height: 162px;
	border-radius: 5.41px;
	border: 1.285px solid black;
}
