html, body {
		padding: 0;
		margin: 0;
}
.bandeau {
	width: 100%;
	height: 128.5px;
	background: rgb(39, 7, 115);
	border-bottom: 0.05vw solid black;
}

#title {
	color: white;
	font-size: 97.66px;
	position: absolute;
	margin-left: 18vw;
	margin-top: 0.7vw;
	font-family: "aomega";
}

.button a {
        background-color: rgb(39, 7, 115);
		font-size: 20.56px;
		float: right;
		margin-right: 1vw;
        color: white;
        padding: 0.5vw 1vw;
        text-decoration: none;
        box-sizing: border-box;
        border-radius: 0vw 0vw 0.3vw 0.3vw;
        font-family: helvetica;
		-webkit-transition-duration: 0.4s;
		transition-duration: 0.4s;
}
.button a:hover {
        background-color: rgb(75, 72, 130);
}

.linebutton {
	margin-right: 18vw;
}

.footersnap {
	width: 100%;
	height: 119px;
	background: rgb(39, 7, 115);
	bottom: 0;
	border-top: 0.05vw solid black;
}

.footer {
	width: 100%;
	height: 119px;
	background: rgb(39, 7, 115);
	position: absolute;
	bottom: 0;
	border-top: 0.05vw solid black;
}

#copyr {
	margin-top: 3vw;
	margin-right: 1vw;
	float: right;
	font-size: 12.85px;
	color: white;
	font-family: helvetica;
	font-style: italic;
}
