.clear {
	clear: both;
}

.delete {
color:#fff;
font-size:12px;
font-weight:lighter;
height:33px;
width:117px;
}

.heartind {
	position: absolute;
	margin-top: -156.77px;
	margin-left: -321.25px;
	width: 46.26px;
	height: 46.26px;
}

.commentind {
	position: absolute;
	margin-top: -113.08px;
	margin-left: -321.25px;
	width: 46.26px;
	height: 46.26px;
}

.max {
	margin-bottom: 154.2px;
	border-radius: 5.14px;
	border: 1.285px solid black;
	width: 642.5px;
	height: 488.3px;
}

#allphoto {
	text-align: center;
	width: 642.5px;
	margin: 0 auto;
	margin-top: 115.65px;
	border-radius: 5.14px;
	padding: 0 51.4px;
	padding-top: 51.4px;
	margin-bottom: 0;
	background: rgb(39, 7, 115);
	border: 1.285px solid black;
	position: relative;
}

#page {
	text-align: center;
	width: 257px;
	height: 51.4px;
	margin: 0 auto;
	margin-top: 20.56px;
	margin-bottom: 25.7px;
	border-radius: 5.14px;
	padding: 0 51.4px;
	padding-top: 25.7px;
	padding-bottom: 25.7px;
	background: rgb(39, 7, 115);
	border: 1.285px solid black;
	position: relative;
}

input[type=text] {
	width: 231.3px;
	height: 5.14px;
	padding: 11.565px 11.565px;
	margin-bottom: 25.7px;
	border: 1.285px solid black;
	border-radius: 2.57px;
}

input[type=password] {
	width: 231.3px;
	height: 5.14px;
	padding: 11.565px 11.565px;
	margin-bottom: 25.7px;
	border: 1.285px solid black;
	border-radius: 2.57px;
}


input[type=email] {
	width: 231.3px;
	height: 5.14px;
	padding: 11.565px 11.565px;
	margin-bottom: 25.7px;
	border: 1.285px solid black;
	border-radius: 2.57px;
}

label {
	font-size: 20.56px;
	color: white;
	font-family: helvetica;
}

input[type=submit] {
    background-color: white;
    color: rgb(39, 7, 115);
	font-size: 20.56px;
    padding: 15.42px 89.95px;
    margin: 10.28px 0;
    border-radius: 2.57px;
	border: 1.285px solid black;
    cursor: pointer;
	-webkit-transition-duration: 0.2s;
	transition-duration: 0.2s;
}

input[type=submit]:hover {
    background-color: rgb(205, 205, 205);
}

.err {
	margin-top: 12.85px;
	font-size: 15.42px;
	color: white;
	font-family: helvetica;
}

.page-nbr {
	font-size: 25.7px;
	color: white;
	font-family: helvetica;
	margin-top: 7.71px;
	margin-left: -2.57px;
	position: absolute;
}

.pagef {
	margin-left: -0.5vw;
	width: 1.8vw;
	height: 1.8vw;
}

.pagel {
	margin-left: 0.5vw;
	width: 1.8vw;
	height: 1.8vw;
}

.nbrlike {
	background-color: rgb(39, 7, 115);
	font-size: 0.8vw;
	color: white;
	font-family: helvetica;
	position: absolute;
	margin-top: -5.7vw;
	margin-left: -10.4vw;
}

.postlogin {
	background-color: rgb(39, 7, 115);
	font-size: 0.8vw;
	color: white;
	font-family: helvetica;
	position: absolute;
	margin-top: -5.7vw;
	margin-left: 10vw;
}

.linklog {
	color: white;
}

.onclick-menu {
    display: inline-block;
	outline: none;
}
.onclick-menu:before {
	font-size: 0.6vw;
	color: white;
	font-family: helvetica;
	margin-top: -2.5vw;
	margin-left: -12.4vw;
	position: absolute;
    content: "See comment";
}
.onclick-menu:focus .onclick-menu-content {
	position: static;
    display: block;
	margin-left: 0.05vw;
}
.onclick-menu-content {
	position: absolute;
	list-style-type: none;
    z-index: 1;
	width: 22.4vw;
    display: none;
	text-align: left;
	margin-top: -1.5vw;
	padding-top: 1vw;
	padding-right: 1vw;
	padding-bottom: 0.2vw;
	border-radius: 0.1vw;
	color: rgb(39, 7, 115);
	border: 0.05vw solid black;
	background-color: white;
	font-family: helvetica;
}

#textcom {
	width: 20vw;
	position: absolute;
	margin-left: -10.5vw;
	margin-top: -4.2vw;
}

#errorbox {
	text-align: center;
	width: 10vw;
	height: 0vw;
	margin: 0 auto;
	margin-top: 1vw;
	border-radius: 0.2vw;
	padding: 0vw 2vw;
	padding-top: 1vw;
	padding-bottom: 3.5vw;
	background: rgb(39, 7, 115);
	border: 0.05vw solid black;
	position: relative;
}
