.clear {
	clear: both;
}

.delete {
background:url(delete.png) no-repeat;
border:0;
color:#fff;
font-size:12px;
font-weight:lighter;
height:33px;
width:117px;
}

.heartind {
	position: absolute;
	margin-top: -6.1vw;
	margin-left: -12.5vw;
	width: 1.8vw;
	height: 1.8vw;
}

.commentind {
	position: absolute;
	margin-top: -4.4vw;
	margin-left: -12.5vw;
	width: 1.8vw;
	height: 1.8vw;
}

.max {
	margin-bottom: 6vw;
	border-radius: 0.2vw;
	border: 0.05vw solid black;
	width: 25vw;
	height: 19vw;
}

#allphoto {
	text-align: center;
	width: 25vw;
	margin: 0 auto;
	margin-top: 4.5vw;
	border-radius: 0.2vw;
	padding: 0vw 2vw;
	padding-top: 2vw;
	margin-bottom: 0vw;
	background: rgb(39, 7, 115);
	border: 0.05vw solid black;
	position: relative;
}

#page {
	text-align: center;
	width: 10vw;
	height: 2vw;
	margin: 0 auto;
	margin-top: 0.8vw;
	margin-bottom: 1vw;
	border-radius: 0.2vw;
	padding: 0vw 2vw;
	padding-top: 1vw;
	padding-bottom: 1vw;
	background: rgb(39, 7, 115);
	border: 0.05vw solid black;
	position: relative;
}

input[type=text] {
	width: 231.3px;
	height: 0.2vw;
	padding: 0.45vw 0.45vw;
	margin-bottom: 1vw;
	border: 0.05vw solid black;
	border-radius: 0.1vw;
}

input[type=password] {
	width: 9vw;
	height: 0.2vw;
	padding: 0.45vw 0.45vw;
	margin-bottom: 1vw;
	border: 0.05vw solid black;
	border-radius: 0.1vw;
}


input[type=email] {
	width: 9vw;
	height: 0.2vw;
	padding: 0.45vw 0.45vw;
	margin-bottom: 1vw;
	border: 0.05vw solid black;
	border-radius: 0.1vw;
}

label {
	font-size: 0.8vw;
	color: white;
	font-family: helvetica;
}

input[type=submit] {
    width: 100%;
    background-color: white;
    color: rgb(39, 7, 115);
	font-size: 0.8vw;
    padding: 0.6vw 3.5vw;
    margin: 0.4vw 0;
    border-radius: 0.1vw;
	border: 0.05vw solid black;
    cursor: pointer;
	-webkit-transition-duration: 0.4s;
	transition-duration: 0.4s;
}

input[type=submit]:hover {
    background-color: rgb(205, 205, 205);
}

.err {
	margin-top: 0.5vw;
	font-size: 0.6vw;
	color: white;
	font-family: helvetica;
}

.page-nbr {
	font-size: 1vw;
	color: white;
	font-family: helvetica;
	margin-top: 0.3vw;
	margin-left: -0.1vw;
	position: absolute;
}

.pagef {
	margin-left: -0.5vw;
	width: 1.8vw;
	height: 1.8vw;
}

.pagel {
	margin-left: 0.5vw;
	width: 1.8vw;
	height: 1.8vw;
}

.nbrlike {
	background-color: rgb(39, 7, 115);
	font-size: 0.8vw;
	color: white;
	font-family: helvetica;
	position: absolute;
	margin-top: -5.7vw;
	margin-left: -10.4vw;
}

.postlogin {
	background-color: rgb(39, 7, 115);
	font-size: 0.8vw;
	color: white;
	font-family: helvetica;
	position: absolute;
	margin-top: -5.7vw;
	margin-left: 10vw;
}

.linklog {
	color: white;
}

.onclick-menu {
    display: inline-block;
	outline: none;
}
.onclick-menu:before {
	font-size: 0.6vw;
	color: white;
	font-family: helvetica;
	margin-top: -2.5vw;
	margin-left: -12.4vw;
	position: absolute;
    content: "See comment";
}
.onclick-menu:focus .onclick-menu-content {
	position: static;
    display: block;
	margin-left: 0.05vw;
}
.onclick-menu-content {
	position: absolute;
	list-style-type: none;
    z-index: 1;
	width: 22.4vw;
    display: none;
	text-align: left;
	margin-top: -1.5vw;
	padding-top: 1vw;
	padding-right: 1vw;
	padding-bottom: 0.2vw;
	border-radius: 0.1vw;
	color: rgb(39, 7, 115);
	border: 0.05vw solid black;
	background-color: white;
	font-family: helvetica;
}

#textcom {
	width: 20vw;
	position: absolute;
	margin-left: -10.5vw;
	margin-top: -4.2vw;
}

#logset {
	height: 1.2vw;
	width: 1.2vw;
}

#errorbox {
	text-align: center;
	width: 10vw;
	height: 0vw;
	margin: 0 auto;
	margin-top: 1vw;
	border-radius: 0.2vw;
	padding: 0vw 2vw;
	padding-top: 1vw;
	padding-bottom: 3.5vw;
	background: rgb(39, 7, 115);
	border: 0.05vw solid black;
	position: relative;
}
