#login {
	text-align: center;
	width: 257px;
	height: 128.5px;
	margin: 0 auto;
	margin-top: 115.65px;
	border-radius: 5.14px;
	padding: 0 51.4px;
	padding-top: 25.7px;
	padding-bottom: 179.9px;
	background: rgb(39, 7, 115);
	border: 1.285px solid black;
	position: relative;
}

#register {
	text-align: center;
	width: 257px;
	height: 128.5px;
	margin: 0 auto;
	margin-top: 115.65px;
	border-radius: 5.14px;
	padding: 0vw 51.4px;
	padding-top: 25.7px;
	padding-bottom: 334.1px;
	background: rgb(39, 7, 115);
	border: 1.285px solid black;
	position: relative;
}

#reg {
	text-align: center;
	width: 257px;
	height: 77.1px;
	margin: 0 auto;
	margin-top: 17.99px;
	border-radius: 5.14px;
	padding: 0vw 51.4px;
	padding-top: 51.4px;
	background: rgb(39, 7, 115);
	border: 1.285px solid black;
	position: relative;
}

#regtext {
	text-decoration:none;
	font-family: helvetica;
    background-color: white;
    color: rgb(39, 7, 115);
	font-size: 20.56px;
    padding: 15.42px 89.95px;
    margin: 10.28px 0;
	margin-bottom: 25.7px;
    border-radius: 2.57px;
	border: 1.285px solid black;
    cursor: pointer;
	-webkit-transition-duration: 0.4s;
	transition-duration: 0.4s;
}

#forget {
	color: white;
}

#regtext:hover {
	background-color: rgb(205, 205, 205);
}

#validate {
	text-align: center;
	width: 257px;
	height: 77.1px;
	margin: 0 auto;
	margin-top: 231.3px;
	border-radius: 5.14px;
	padding: 0vw 51.4px;
	padding-top: 51.4px;
	padding-bottom: 38.55px;
	background: rgb(39, 7, 115);
	border: 1.285px solid black;
	position: relative;
	font-size: 20.56px;
	color: white;
	font-family: helvetica;
}
