#blpdp {
	text-align: center;
	margin-top: 1vw;
	margin-left: 14vw;
	width: 14vw;
	padding-top: 2vw;
	padding-bottom: 10vw;
	border-radius: 0.2vw;
	background: rgb(39, 7, 115);
	border: 0.05vw solid black;
	position: absolute;
}

#sett {
	position: absolute;
	margin-top: -1.5vw;
	margin-left: -1.5vw;
}

#pdp {
	width: 10vw;
	height: 8.5vw;
	border-radius: 0.2vw;
	border: 0.05vw solid black;
}

#linkface {
	color: white;
	text-align: center;
	outline: none;
	text-decoration: none;
	font-family: helvetica;
}

.count {
	margin-top: 1vw;
	margin-right: 1vw;
	margin-left: 1vw;
	width: 1.9vw;
	height: 1.9vw;
}

#facebook {
	text-align: center;
	border-radius: 0.2vw;
	background-color: rgb(16, 52, 128);
	margin-top: 0.5vw;
	padding: 0.5vw 0.5vw;
	margin-left: 4vw;
	width: 5vw;
	border: 0.05vw solid black;
}

#facebook:hover {
	background-color: rgb(59, 89, 152);
}

#snapnb {
	position: absolute;
	margin-top: 3vw;
	margin-left: -2.15vw;
	color: white;
	font-family: helvetica;
	font-size: 0.7vw;
}
